# Descriptive Statistics :

In [1]:
# Measure of central tendency:

# Measure of spread :

In [2]:
# Measure of central Tendency

In [3]:
import numpy as np 
import pandas as pd

x = np.random.randint(30,35,10)

x

array([30, 34, 32, 31, 30, 34, 30, 30, 33, 34])

In [4]:
# Mean :

np.mean(x)

31.8

In [6]:
# Median:

np.median(x)

31.5

In [7]:
## Measure of Dispersion:

In [10]:
# Variance : it is the Mean of Squared Deviations :

print("Variance is", np.var(x))

Variance is 2.96

In [11]:
# Standard Deviation : Square root of Variance:

print("Standard Deviation is", np.std(x))

Standard Deviation is 1.7204650534085253

In [12]:
# Quantiles :

y = [10,20,30,40,50,60,70,80]

y1 = pd.DataFrame(y)

y1

    0
0  10
1  20
2  30
3  40
4  50
5  60
6  70
7  80

In [13]:
y1.describe()

               0
count   8.000000
mean   45.000000
std    24.494897
min    10.000000
25%    27.500000
50%    45.000000
75%    62.500000
max    80.000000

In [14]:
# Inter Quantiles: Q3-Q1

# Quantile range : max - min

In [15]:

## Inferential Statistics : Sampling the data and infer the result to describe entire population

In [16]:
# Central Limit Theorem says :

# Normal Distribution : Distribution is alwyas normal irrespective of Sample Size.

# Non-normal Distribution : If sample size is adequate(approx>30 sample), distribution starts looking normal.

In [20]:
# Types of Distribution : Most commonly used distribution are Z-distribution(Standard Normal Distri.) and Normal Distribution:

# 1.Normal Distribution : It is the proper term for probability bell curve. In a normal distribution mean is zero and

In [21]:

# Skewed Right: Mean<Median<Mode
# Symmetric Distribution: Mean=Median=Mode
# Skewed Left : Mean>Median>Mode

In [22]:
# Bernouli Distribution: